@font-face {
    font-family: 'dmsans_regular';
    src: url('/fonts/dmsans-regular.woff') format('woff2'),
        url('/fonts/dmsans-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dmsans_sansbold';
    src: url('/fonts/dmsans-bold.woff2') format('woff2'),
        url('/fonts/dmsans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: 'dmsans-regular';
}